/* whole page */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.container{
    max-width: 1250px;
    width: 100%;
    text-align: center;
}
/* begin header */
header{
    height: 100px;
    width: 100%;
    text-align: center;
}

.logo{
    height:100px;
    width:333px;
}
/* end header */
/* begin navigation bar  */
nav{
    background-color: #220000;
    text-align: center;
    height:50px;
    width:100%;
    line-height: 275%;
    border-bottom: 1px;
}
.navbar{
    font-family: 'Copperplate Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding:50px;
    font-size: 20px;
}
/* end navigation bar */
/* begin main images */
.image-wrapper{
    background-color: #f2ddda;
}
img{
    height: 425px;
    width: 300px;
}
.top-images{
    float: left;
    padding: 5px;
    margin: 0px;
    height: 450px;
    width:325px;
    background-color: #f2ddda;
}
.bottom-images{
    float: right;
    padding: 5px;
    margin: 0;
    height: 450px;
    width:325px;
    background-color: #f2ddda;
}

.clear{
    clear:left;
    clear:right;
}