/* begin CSS for the header */
header{
    height: 100px;
    width: 100%;
    text-align: center;
}

.logo{
    height:100px;
    width:333px;
}
/* end header CSS */
/* begin navigation bar CSS */
nav{
    background-color: black;
    text-align: center;
    height:50px;
    width:100%;
    line-height: 275%;
}
nav a{
    font-family: 'Copperplate Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding:50px;
}
/* end navigation bar CSS */
/* begin main images */
li{
    list-style: none;
}
img{
    height: 425px;
    width: 300px;
}
.top{
    float: left;
    padding: 5px;
    margin: 0;
}
.bottom{
    float: right;
    padding: 5px;
    margin: 0;
}
