@media (max-width:670px){
    *{
        box-sizing: border-box;
    }
    .navbar{
        font-size: 15px;
        padding: 25px;
    }

    .container{
        width: 100%;
    }
    .top-images{
        width:100%;
    }
    .bottom-images{
        display:none;
    }
    .feature{
        padding-top: 10px;
    }
    
    .images {
        width:100%;
    }
    span{
        font-size: 30px;
    }
    
    footer h1{
        text-align: center;
    }

    .image{
        width:100%;
    }
    .text-contents{
        text-align: center;
        width:100%;
    }

}